extends ./layout.jade
block contenido
  div(class="col-md-5 remove-float center-block big-top-space")
    form(action="/sessions",method="POST")
      div(class="form-group")
        label(for="email") Email
        input(type="text", name="email", placeholder="Email", id="email", class="form-control")
      div
        label(for="password") Contrase침a
        input(type="password", name="password", placeholder="Contrase침a", id="Contrase침a", class="form-control")  
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          input(type="submit" value="Iniciar Sesi칩n" class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-rigth")
          a(href="/signup") Crear cuenta
